<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><ion-icon name="barcode"></ion-icon></ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    
    <p>
      <button ion-button color="primary" (click)="takeBarcode($event)">Take a Barcode</button>
    </p>
    <p *ngIf="barcodeData"><strong>Barcode Data:</strong><br><div [innerHTML]="barcodeData"></div></p>
  </ion-content>
  